<body style="background-image: url({{Background}}) ; background-size: cover;">
   <div class="container">
      <br>
      <div class="row">
         <h2 id="main_heading">{{category}}</h2>
         <div class="btn-group btn-breadcrumb">
            <a href="/" class="btn btn-default"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="#" class="btn btn-default">{{breadcumb}}</a>
            <a href="#" class="btn btn-default">{{category}}</a>
            <a href="#" class="btn btn-default">Info</a>
         </div>
      </div>
   </div>
   {{# if products }}  
   <div class="container">
      <div class="col">
         {{# each products }}
         <div class="row">
            {{# each this }}
            <div class="col-12 col-md-6 col-lg-4">
               <div class="card">
                  <a href="/{{this.id}}/productDetails">
                  <img class=" categoryLanding mx-auto" src="/{{ this.imagepath}}" alt="{{ this.title }}">
                  </a>
                  <div class="card-body">
                     <h6 class="card-title"><a href="/{{this.id}}/productDetails" title="{{ this.title }}">{{ this.title }}</a></h6>
                     <div class="stars">
                        {{#times this.productRating}}
                        <span class="fa fa-star checked"></span>
                        {{/times}}
                        {{#ntimes this.productRating}}
                        <span class="fa fa-star"></span>
                        {{/ntimes}}
                     </div>
                     <p class="card-text">{{ this.description }}</p>
                     <div class="row">
                        <div class="col">
                           <p class="btn btn-danger btn-block">{{ this.price }} $</p>
                        </div>
                        <div class="col">
                           <a href="/add-to-cart/{{this.id}}/true/1" class="btn btn-success btn-block">Add to cart</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {{/each}}
         </div>
         {{/each}}
      </div>
   </div>
   {{ else }}
   <div class="container">
      <div class="hero-content pb-5 text-center" >
         {{!-- <h1 class="hero-heading">Sorry...<i class="em em-anguished"></i></h1> --}}
         <div id="success" class="alert alert-info" style="background-color:azure">
          <p class="text-center" > No Items Found </p>
      </div>
   </div>
   </div>
   {{/if }}
</body>